# node_modules и кэш
node_modules/
.cache/
dist/

# Remixd сокеты
remixd.sock

# Mac system files
.DS_Store

# VSCode
.vscode/

# окружение
.env
.env.local
.env.*.local

# Solidity artifacts (если используешь Hardhat в будущем)
artifacts/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
